extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1 #{project.project_name}

        p #{project.description}

      .project-tech-links-box.box
        h6 Technologies

        ul

          each val in project.technologies
         
            li= val

        a.btn-link(target='_blank', href=`${project.live_link}`) Live Demo
        a.btn-link(target='_blank', href=`${project.github_link}`) GitHub Repo

    .project-img-box.box

    ul 
      each img in project.image_urls 
        img.project-img(src=`${img}`, alt='Project photo')

    nav.nav
      a(href='/')
        span &larr;
        |  Back
